<link rel="stylesheet" href="/styles.css">
<h1>Photos</h1>


<table class="table-bordered" id="displayTable">
  <thead>
    <tr>
      <th>Description</th>
      <th>Location</th>
      <th>Camera</th>
      <th>Date Taken</th>
      <th>Image URL</th>
    </tr>
  </thead>
  <tbody *ngFor="let photo of photos">
    <tr (click)="displayPhoto(photo)">
      <td>{{photo.description}}</td>
      <td>{{photo.location}}</td>
      <td>{{photo.camera}}</td>
      <td>{{photo.dateTaken}}</td>
      <td class="img">{{photo.imageUrl}}</td>
    </tr>
  </tbody>
</table>

<!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let photo of photos">
      <img src="{{photo.imageUrl}}" class='img' class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{photo.description}}</h5>
        <p>{{photo.camera}}</p>
        <p>{{photo.dateTaken}}</p>
        <p>{{photo.location}}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->


<div class="text-center">
<input class="btn btn-success" type = 'submit' value = 'Create New Photo' (click)="createForm = true">

<form *ngIf="createForm" name="createPhoto" id="createForm">
  <input type = 'text' name = "description" placeholder="Description" [(ngModel)]="newPhoto.description"><br>
  <input type = 'text' name = "location" placeholder="Location" [(ngModel)]="newPhoto.location"><br>
  <input type = 'text' name = "camera" placeholder="Camera" [(ngModel)]="newPhoto.camera"><br>
  <input type = 'text' name = "date" placeholder="Date" [(ngModel)]="newPhoto.dateTaken"><br>
  <input type = 'text' name = "url" placeholder="URL" [(ngModel)]="newPhoto.imageUrl"><br>
  <input type= 'submit' value = 'submit' (click)="addPhoto(newPhoto)" (click)="createForm = false">
</form>
</div>

<div class='text-center' id="detailedView" *ngIf="selected != null">
  <h2>Location: {{selected.location}}</h2>
  <h2>Description: {{selected.description}}</h2>
  <h2>Camera: {{selected.camera}}</h2>
  <h2>Date Taken: {{selected.dateTaken}}</h2>
  <img class="img" src="{{selected.imageUrl}}"><br>
  <button class="btn btn-danger" (click)="delete(selected.id)">Delete This Photo</button>
  <button class="btn btn-danger" (click)="editPhoto = selected">Update This Photo</button>

</div>

<div *ngIf="editPhoto">
  <form>
    <input type = 'text' name = "description" placeholder={{editPhoto.description}} [(ngModel)]="editPhoto.description"><br>
  <input type = 'text' name = "location" placeholder={{editPhoto.location}} [(ngModel)]="editPhoto.location"><br>
  <input type = 'text' name = "camera" placeholder={{editPhoto.camera}} [(ngModel)]="editPhoto.camera"><br>
  <input type = 'text' name = "date" placeholder={{editPhoto.dateTaken}} [(ngModel)]="editPhoto.dateTaken"><br>
  <input type = 'text' name = "url" placeholder={{editPhoto.imageUrl}} [(ngModel)]="editPhoto.imageUrl"><br>
  <input type = 'submit' name = submit (click)="update(editPhoto, editPhoto.id)">
  </form>


</div>
